{% extends 'base.html.twig' %}
{% block body %}
    <html lang="en">
    <header class="navbar navbar-default navbar-fixed-top" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">#PagaSantana</a>
            </div>
            <nav class="collapse navbar-collapse" role="navigation">

                <ul class="nav navbar-right navbar-nav" style="padding:12px;">

                    {% if  user is null %}
                        <a class="btn btn-block btn-social btn-facebook" href="/login/facebook">
                            <span class="fa fa-facebook"></span> Login com Facebook
                        </a>
                    {% else %}

                        <a class="btn btn-block btn-social btn-facebook" href="/logout">
                            <span class="fa fa-sign-out"></span> Sair

                        </a>

                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>

    <div class="container">
        <div class="row">

            <div class="col-md-12">

                <div class="panel">
                    <div class="panel-body">


                        <table class="table table-striped" id="games_table">
                            <thead>
                            <tr>
                                <th>Jogo</th>
                                <th>Vencedor</th>
                                <th>Golos</th>
                                <th>Tip</th>
                                <th>Confiança</th>
                                <th>Votos neste jogo</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for key,value in table %}
                                <tr data-id={{ attribute(value, "gameId") }} data-toggle="collapse"
                                    data-target="#demo{{ key }}"
                                    class="accordion-toggle">
                                    <td>
                                        <b>{{ attribute(value, "game") }}</b>
                                    </td>
                                    <!--TODO: class depends on what the user voted -->
                                    <td>
                                        {% if  attribute(value, "voteResult") == 'home' %}
                                            <button type="button" class="btn btn-primary btn-sm bet" value="home">1
                                            </button>
                                        {% else %}
                                            <button type="button" class="btn btn-secunday btn-sm bet" value="home">1
                                            </button>
                                        {% endif %}
                                        {% if  attribute(value, "voteResult") == 'draw' %}
                                            <button type="button" class="btn btn-primary btn-sm bet" value="draw">X
                                            </button>
                                        {% else %}
                                            <button type="button" class="btn btn-secunday btn-sm bet" value="draw">X
                                            </button>
                                        {% endif %}

                                        {% if  attribute(value, "voteResult") == 'away' %}
                                            <button type="button" class="btn btn-primary btn-sm bet" value="away">2
                                            </button>
                                        {% else %}
                                            <button type="button" class="btn btn-secunday btn-sm bet" value="away">2
                                            </button>
                                        {% endif %}
                                    </td>
                                    <!--TODO: amount of goals depends on game -->
                                    <td>
                                        {% if  attribute(value, "voteGoals") == 'over' %}
                                            <button type="button" class="btn btn-primary btn-sm betGolos" value="over">+
                                            </button>
                                        {% else %}
                                            <button type="button" class="btn btn-secondary btn-sm betGolos"
                                                    value="over">+
                                            </button>
                                        {% endif %}
                                        {% if  attribute(value, "voteGoals") == 'under' %}
                                            <button type="button" class="btn btn-primary btn-sm betGolos" value="under">
                                                -
                                            </button>
                                        {% else %}
                                            <button type="button" class="btn btn-secondary btn-sm betGolos"
                                                    value="under">-
                                            </button>
                                        {% endif %}
                                        <span><b>{{ attribute(value, "AmountOfGoals")}}</b></span>

                                    </td>
                                    <td>
                                        <b>{{ attribute(value, "tip") }}</b> <br/>
                                        <b>{{ attribute(value, "tipGoals") }}</b>
                                    </td>
                                    <td>
                                        {% if  attribute(value, "tipPercentage")  > 50 and attribute(value, "tipPercentage") < 60 %}
                                        <span class="label label-warning"> <b>Media</b>
                                            {% endif %}
                                            {% if  attribute(value, "tipPercentage")  >= 60 and attribute(value, "tipPercentage") < 75 %}
                                            <span class="label label-success"> <b>Media alta</b>
                                                {% endif %}
                                                {% if  attribute(value, "tipPercentage")  >= 75 and attribute(value, "tipPercentage") < 90 %}
                                                <span class="label label-info"> <b>Boa</b>
                                                    {% endif %}
                                                    {% if attribute(value, "tipPercentage") >= 90 %}
                                                    <span class="label label-primary"> <b>Muito boa</b>
                                                        {% endif %}
                                             </span>
                                    </td>
                                    <td class='amount'>
                                        <b>{{ attribute(value, "totalGameVotes") }}</b>
                                    </td>
                                    <td>
                                        <button class="btn btn-default btn-xs"><span
                                                    class="glyphicon glyphicon-eye-open"></span></button>
                                    </td>
                                <tr>
                                    <td colspan="12" class="hiddenRow">
                                        <div class="accordian-body collapse" id="demo{{ key }}">
                                            <div class="row">
                                                <div class="col-sm-6"> Equipa vencedora
                                                    <div id="placeholder{{ key }}"
                                                         class="demo-placeholder placeholder"></div>
                                                </div>
                                                <div class="col-sm-6">
                                                    Total de golos
                                                    <div id="placeholderGoals{{ key }}"
                                                         class="demo-placeholder placeholder"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>


                    </div>
                    <div id="masthead">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-7">
                                    <h1>
                                        <p class="lead"></p>
                                    </h1>
                                </div>

                            </div>
                        </div><!-- /cont -->


                        <!--/stories-->


                    </div>
                </div>


            </div><!--/col-12-->
        </div>
    </div>


    <div class="container" id="footer">
        <div class="row">
            <div class="col col-sm-12">

                <h1>Follow Us! Follow the Green!</h1>

                <div class="btn-group">
                    <a class="btn btn-twitter btn-lg" href="#"><i class="icon-twitter icon-large"></i> Twitter</a>
                    <a class="btn btn-facebook btn-lg" href="#"><i class="icon-facebook icon-large"></i> Facebook</a>
                </div>

            </div>
        </div>
    </div>

    <hr>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <ul class="list-inline">
                        <li><i class="icon-facebook icon-2x"></i></li>
                        <li><i class="icon-twitter icon-2x"></i></li>
                    </ul>

                </div>
                <div class="col-sm-6">
                    <p class="pull-right">#PagaSantana -- Todos os direitos reservados ao nosso tio</p>
                </div>
            </div>
        </div>
    </footer>


    <!-- script references -->
    <script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="js/jquery.flot.min.js"></script>
    <script src="js/jquery.flot.pie.min.js"></script>
    </html>

    <script>
        user = {{ user|json_encode()}};
        {% for key,value in data %}
        dataToDraw('{{ value|json_encode() }}', '#placeholder{{ key }}');
        {% endfor %}

        {% for key,value in OU %}
        dataToDraw('{{ value|json_encode() }}', '#placeholderGoals{{ key }}', false);
        {% endfor %}
    </script>

{% endblock %}